$azul_fuerte_baby: #005f93
@media only screen and (min-width: 320px) and (max-width: 425px)
.centro_baby_arriba
  max-width: 850px
  widh: 80%
  margin: 0 auto
  margin-top: -100px
.centro_baby_category
  max-width: 850px
  widh: 80%
  margin: 0 auto
.centro_baby_2
  max-width: 850px
  widh: 80%
  margin: 0 auto
  margin-top: -50px 
  img
    width: 420px
    margin-left: -10px
.wrap_texto_1
  width: 260px
  position: relative
  left: 58%
  right: 0
  transform: translate(-50%,0)
.zapatito_baby_1    
  position: relative
  margin-top: -360px
  left: 48%
  img
    margin-left: -365px
.fondo_hojas
  background-image: url('../img/baby/fondo_hoja.svg')
  background-position: left bottom
  background-repeat: no-repeat
  background-size: 430px
.texto_baby_2
  max-width: 320px
  width: 100%
  margin: 0 auto
  p
    font-size: 15px
    color: $azul_fuerte_baby
    span
      display: block
      font-size: 19px
      color: $azul_fuerte_baby
.m-t-n-300
  margin-top: -400px
.texto_baby_1  
  max-width: 320px
  width: 100%
  margin-top: 20px
  padding-left: 77px
  p
    text-align: right
    font-size: 15px
    color: $azul_fuerte_baby
    span
      font-size: 19px
      color: $azul_fuerte_baby
.titulo_baby_2
  p
    font-size: 80px
    color: #ff9900
    font-family: mikadoBold
    line-height: 70px
    margin-left: -5px
.logo_baby
  max-width: 280px
  width: 80%
  margin: 0 auto
  padding: 40px 0px
  img
    widht: 100%
.fondo_nube_2
  background-image: url('../img/baby/nude_magica_bebe.svg')
  background-position: 50% 4%
  background-repeat: no-repeat
  background-size: 200%
.fondo_nube_baby
  background-image: url('../img/baby/nude_magica_bebe.svg')
  background-position: 50% 4%
  background-repeat: no-repeat
.fondo_pescaito
  position: relative
  left: -195px
  top: -83px
  z-index: -1
.titulo_baby_1
  p
    color: $azul_fuerte_baby
    font-size: 45px
    font-family: margotBold
    &:nth-child(1)
      &:after
        -moz-text-stroke: 5px #33ffcc
        -webkit-text-stroke: 5px #33ffcc
        text-stroke: 3px #33ffcc
        content: attr(data-texto)
        font-family: margotBold
        position: absolute
        left: 0px
        z-index: -2
        font-size: 1em
    &:nth-child(2)
      margin-top: -20px
      line-height: 50px
      margin-left: 20px
      &:after
        -moz-text-stroke: 5px #33ffcc
        -webkit-text-stroke: 5px #33ffcc
        text-stroke: 3px #33ffcc
        content: attr(data-texto)
        font-family: margotBold
        position: absolute
        left: 116px
        z-index: -2
        font-size: 1em
    & span
      font-size: 27px
      vertical-align: top
      font-family: margotBold
      line-height: 33px
      &:after
        -moz-text-stroke: 5px #33ffcc
        -webkit-text-stroke: 5px #33ffcc
        text-stroke: 3px #33ffcc
        content: attr(data-texto)
        font-family: margotBold
        position: absolute
        left: 21px
        z-index: -2
        font-size: 1em
.fondo_solishito
  margin-top: 50px
  img
    position: relative
    left: 50%
    transform: translate(-50%, 0%)
    width: 390px
.texto_baby_3
  width: auto
  padding: 1em 2em
  position: relative
  margin-top: 130px
  p
    color: $azul_fuerte_baby
    font-size: 17px
    line-height: 16px

    & span
      font-size: 27px
      line-height: 26px
  &:after, &:before
    border: .3em solid yellow
    bottom: 0
    content: ''
    position: absolute
    top: 0
    width: 20%
  &:after
    border-left: none
    right: 0
  &:before
    border-right: none
    left: 0
.titulo_baby_4
  margin-top: -500px
  margin-left: -25px
    width: auto
  p
    font-family: margotBold
    font-size: 80px
    color: #00a055
    line-height: 36px
    letter-spacing: -3px
    span
      font-family: margotBold
      font-size: 40px
      color: #00a055
.texto_baby_4
  max-width: 270px
  width: 100%
  margin: 5px 29px 0px auto
  p
    text-align: right
    font-size: 15px
    color: $azul_fuerte_baby
    span
      font-size: 19px
      color: $azul_fuerte_baby
.zapato_gigante_baby
  img
    position: relative
    left: -5%
    -webkit-transform: translate(-50%, 5%)
    -moz-transform: translate(-50%, 5%)
    -ms-transform: translate(-50%, 5%)
    -o-transform: translate(-50%, 5%)
    transform: translate(-50%, 5%)
    margin-left: -90px
    width: 600px
.wrap_cat_baby
  width: 100%
  border-top: 10px solid #fffa8c
  background: #33ccff

.texto_cat_kids
  padding: 6px 15px 0px 0px
  h1
    font-family: margotBold
    font-size: 15px
    color: white
    span
      font-size: 30px
      font-family: margotBold

.btn_catalogo_baby
  display: none
  background: #49ffff
  padding: 10px 70px
  font-size: 26px
  border-radius: 100px
  font-family: mikadoBold
  color: $azul_fuerte_baby

.wrap_catalogo_baby
  width: 180px
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  &::before
    transition: all 0.5s ease
    content: ''
    background-image: url(../img/baby/fondo_catalogo_baby.svg)
    background-repeat: no-repeat
    background-position: center
    width: 180px
    height: 180px
    display: inline-block
  &:hover
    &::before
      width: 160px
      height: 160px

.titulo_baby_cata
  font-size: 25px
  margin-top: 150px
  font-family: margotBold
  color: $azul_fuerte_baby
  &:hover
    text-decoration: none
    color: $azul_juv_oscuro 

.imagen_catalogo_baby
  width: 220px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.texto_cat_baby
  padding: 6px 15px 0px 0px
  h1
    font-family: margotBold
    font-size: 15px
    color: white
    span
      font-size: 30px
      font-family: margotBold

.m-t-100-n
  margin-top: 80px
/* Pantalla entre ipad y mobil*/
@media screen and (min-width: 426px)  
  .zapatito_baby_1
    position: relative
    left: 58%
    img
      width: 480px
      height: auto
      margin-left: -410px
  .wrap_texto_1
      left: 70%
      transform: translate(-50%, 0)
  .fondo_pescaito
      position: relative
      left: -20%
    img
      margin-left: -5px
  .centro_baby
    margin-top: -100px
  .fondo_nube_baby
    background-image: url(../img/baby/nude_magica_bebe.svg)
    background-position: 36% -12%
    background-repeat: no-repeat
    background-size: 800px 
  .fondo_nube_2
      background-size: 850px
      margin-top: -110px
  .logo_baby
    margin-top: 70px
    margin-bottom: 105px
  .texto_baby_1
    margin-top: 110px
    p
      font-size: 17px
      margin-top: -110px
  .texto_baby_2
    p
      font-size: 17px
      width: auto 
      text-align: center
      span
        display: block
  .texto_baby_3
    width: auto
    max-width: 450px
    padding: 1em 2em
    position: relative
    margin: auto
    top: -230px
    p
      text-align: justify
  .m-t-n-300
    margin-top: 0px
  .fondo_solishito 
    margin-top: 130px
    position: relative
    img 
      width: 500px
  .texto_baby_4
    width: auto
    max-width: 450px
    padding: 1em 2em
    position: relative
    margin: auto
    top: -10px
    right: -30%
    p
      text-align: right
      width: 280px
      margin-left: -140px
  .titulo_baby_4
        widht: auto
        left: 4%
        position: relative
        margin-top: -100px
      p
        width: auto
    
  .btn_catalogo_baby
    display: inline-block
  .m-t-100-n
    margin-top: 59px
  .zapato_gigante_baby
    margin-top: 170px
    position: relative
    left: 50%
    img 
      width: 500px
      margin-left: -120px
  .fondo_hojas
    background-image: url('../img/baby/fondo_hoja.svg')
    background-position: 30px top
    background-repeat: no-repeat
    background-size: 600px 
    height: 400px
/* solo para ipad*/
@media only screen and ( min-width: 768px )
  .fondo_pescaito 
      position: relative
      left: 50%
      img 
        margin-top: -170px
        margin-left: -120px
  .texto_baby_2
    margin-top: -250px
    p
      font-size: 17px
      width: 300px
      text-align: left
      span
        display: block
  .titulo_baby_2
    margin-top: -235px
  .zapato_gigante_baby
    position: relative
    left: 50%
    img 
      width: 500px
      margin-left: -120px
      margin-top: -250px
  .titulo_baby_4
    margin-top: -100px
    p
      width: auto
  .fondo_solishito 
    margin-top: -10px
    position: relative
    left: 5%
    img 
      width: 400px
  .texto_baby_3
    width: auto
    max-width: 450px
    padding: 1em 2em
    position: relative
    margin: auto
    top: -10px
    p
      text-align: justify
  .fondo_nube_2
    margin-top: -10px
  .zapatito_baby_1
    margin-top: 0px  
    position: relative
    left: 120%
    img
      width: 480px
      height: auto
  
  .texto_baby_1
    margin-top: 110px
    left: -9%
    p
      font-size: 17px
      margin-top: -110px
  .texto_baby_4 
    p
      font-size: 17px
      margin-left: -150px
  .fondo_nube_baby
    background-image: url(../img/baby/nude_magica_bebe.svg)
    background-position: 63% -13%
    background-repeat: no-repeat
    background-size: 800px   

@media only screen and ( min-width: 769px ) 
  .logo_baby
    max-width: 480px
    padding: 100px 0px
  .fondo_nube_baby
    background-image: url(../img/baby/nude_magica_bebe.svg)
    background-position: 41% -1%
    background-repeat: no-repeat
    background-size: 1000px
  .fondo_nube_2
    background-size: 1200px
    margin-top: 10px
  .texto_baby_1
    p
      text-align: right
      font-size: 17px
  .titulo_baby_1
    margin-top: 50px
  .texto_baby_2
    p
      font-size: 17px
      width: 200px
      text-align: left
      margin-top: 20px
      margin-left: 50px
  .fondo_hojas
    background-image: url(../img/baby/fondo_hoja.svg)
    background-position: 44% top
    background-repeat: no-repeat
    background-size: 800px
    position: relative
    margin-top: 0px
    left: 0px
    height: 600px
  .titulo_baby_2
    p
      font-size: 120px
      line-height: 92px
  .zapatito_baby_1
    position: relative
    left: 90%
    img
      width: 600px
      height: auto
  .fondo_pescaito
      position: relative
      left: 35%
  .m-t-n-300
    margin-top: 0px
  .centro_baby_2
    margin-top: 70px
  .fondo_solishito
    img
      margin-top: -30px
      left: 50%
      width: 500px
  .titulo_baby_4
    margin-top: -80px
  .texto_baby_4
    p
      text-align: right
      font-size: 17px
  .wrap_texto_1
    left: 62%
    transform: translate(-47%, 0)
  .zapato_gigante_baby
    img
      left: -20%
      -webkit-transform: translate(-50%, 0%)
      -moz-transform: translate(-50%, 0%)
      -ms-transform: translate(-50%, 0%)
      -o-transform: translate(-50%, 0%)
      transform: translate(-50%, 0%)
      margin-top: -350px
      width: 600px
      height: auto
  .btn_catalogo_baby
    display: inline-block
  .m-t-100-n
    margin-top: -59px
  .texto_baby_3
    left: 10%
    margin-top: -5px
    width: 300px
    p
      text-align: justify