.fondo_escolar
  background-image: url('../img/escolar/cabecera_escolar.svg')
  background-size: 101%
  background-position: top center
  background-repeat: no-repeat

.fondo_azul_exolcar
  background: rgba(97,225,227,1)
  background: -moz-linear-gradient(left, rgba(97,225,227,1) 0%, rgba(171,255,255,1) 100%)
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,225,227,1)), color-stop(100%, rgba(171,255,255,1)))
  background: -webkit-linear-gradient(left, rgba(97,225,227,1) 0%, rgba(171,255,255,1) 100%)
  background: -o-linear-gradient(left, rgba(97,225,227,1) 0%, rgba(171,255,255,1) 100%)
  background: -ms-linear-gradient(left, rgba(97,225,227,1) 0%, rgba(171,255,255,1) 100%)
  background: linear-gradient(to right, rgba(97,225,227,1) 0%, rgba(171,255,255,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61e1e3', endColorstr='#abffff', GradientType=1 )

.fondo_azul_2
  background: -moz-linear-gradient(90deg, rgba(0,68,116,1) 0%, rgba(143,207,235,1) 51%, rgba(255,246,242,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,246,242,1)), color-stop(49%, rgba(143,207,235,1)), color-stop(100%, rgba(0,68,116,1)))
  background: -webkit-linear-gradient(90deg, rgba(0,68,116,1) 0%, rgba(143,207,235,1) 51%, rgba(255,246,242,1) 100%)
  background: -o-linear-gradient(90deg, rgba(0,68,116,1) 0%, rgba(143,207,235,1) 51%, rgba(255,246,242,1) 100%)
  background: -ms-linear-gradient(90deg, rgba(0,68,116,1) 0%, rgba(143,207,235,1) 51%, rgba(255,246,242,1) 100%)
  background: linear-gradient(0deg, rgba(0,68,116,1) 0%, rgba(143,207,235,1) 51%, rgba(255,246,242,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6f2', endColorstr='#004474',GradientType=0 )

.fondo_nube_escolar
  background-image: url(../img/baby/nude_magica_bebe.svg)
  background-position: 35% 30%
  background-repeat: no-repeat
  background-size: 700px
  margin-top: 20px
  margin-bottom: 25px

.width_escolar
  width: 100%
  max-width: 1200px
  margin: 0 auto

.fondo123
  background-image: url(../img/escolar/123.svg)
  background-repeat: no-repeat
  background-size: 58%
  background-position-x: 9%

.eescolar_1
  max-width: 550px
  width: 44%
  position: relative
  margin-top: -50%

.fondo_nube_escolar
  background-image: url('../img/escolar/nubecita_escolar.svg')
  background-position: 50% 4%
  background-repeat: no-repeat
  background-size: 200%


