.fondo_escolar
  background-image: url('../img/escolar/cabecera_escolar.svg')
  background-size: 101%
  background-position: top center
  background-repeat: no-repeat

.fondo_azul_exolcar
  background: #61e1e3
  background-image: -webkit-linear-gradient(rgb(97, 225, 227) 43.5%, rgb(255, 255, 255) 100%)
  background-image: -o-linear-gradient(rgb(97, 225, 227) 43.5%, rgb(255, 255, 255) 100%)
  background-image: linear-gradient(rgb(97, 225, 227) 43.5%, rgb(255, 255, 255) 100%)

.fondo_azul_2
  background: rgba(219,238,240,1)
  background: -moz-linear-gradient(top, rgba(219,238,240,1) 0%, rgba(148,209,235,1) 52%, rgba(98,165,198,1) 100%)
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,238,240,1)), color-stop(52%, rgba(148,209,235,1)), color-stop(100%, rgba(98,165,198,1)))
  background: -webkit-linear-gradient(top, rgba(219,238,240,1) 0%, rgba(148,209,235,1) 52%, rgba(98,165,198,1) 100%)
  background: -o-linear-gradient(top, rgba(219,238,240,1) 0%, rgba(148,209,235,1) 52%, rgba(98,165,198,1) 100%)
  background: -ms-linear-gradient(top, rgba(219,238,240,1) 0%, rgba(148,209,235,1) 52%, rgba(98,165,198,1) 100%)
  background: linear-gradient(to bottom, rgba(219,238,240,1) 0%, rgba(148,209,235,1) 52%, rgba(98,165,198,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef0', endColorstr='#62a5c6', GradientType=0 )

.width_escolar
  width: 100%
  max-width: 1200px
  margin: 0 auto

.fondo123
  background-image: url(../img/escolar/123.svg)
  background-repeat: no-repeat
  background-size: 82%
  background-position-x: 50%

.eescolar_1
  max-width: 550px
  width: 44%
  position: relative
  margin-top: -50%

.left_escolar_1
  left: 0px

.zapatiito_3_escolar
  img
    max-width: 600px
    width: 100%
    position: relative    
    margin-left: -50%
    transform: translateX(50%)

.fondo_nube_escolar
  background-image: url('../img/escolar/nubecita_escolar.svg')
  background-position: 50% 4%
  background-repeat: no-repeat
  background-size: 100%

.fondo_reticula
  background-image: url(../img/escolar/escolar_fondo-3.png)
  background-position: 13% bottom
  background-repeat: no-repeat
  background-size: 170%

.margent-top--30
  margin-top: -30px

.margent-top--200
  margin-top: 10px

.escolar_3
  width: 80%
  max-width: 550px
  margin: 0 auto
  position: relative
  margin-top: -68%
  img
    width: 100%

.p-b--30
  padding-bottom: 30%

.m-t--200
  margin-top: 204px

.m-t---200
  margin-top: 50px


.wrap_texto_imagen_escolar_1
  max-width: 350px
  width: 80%
  margin-left: auto

.texto_1_escolar
  color: #005f8b
  text-align: center
  font-size: 20px
  line-height: 27px
  max-width: 300px
  width: 80%
  margin-left: auto

.texto_2_escolar
  color: white
  text-align: center
  font-size: 20px
  line-height: 27px

.wrap_cat_escolar
  width: 100%
  border-top: 10px solid #2e92ba
  background: #094d7c

.texto_cat_escolar 
  padding: 6px 15px 0px 0px
  h1
    font-family: margotBold
    font-size: 15px
    color: white
    span
      font-size: 30px
      font-family: margotBold

.texto_svg_escolar_1
  max-width: 400px
  margin-top: 30px

.m-t---100
  margin-top: 0px

#carouselescolar
  .carousel-indicators
    left: auto
    .active
      background-color: #0958a3
    li
      background-color: #a6b9ea
      cursor: pointer

.wrap_catalogo_escolar::before 
    transition: all 0.5s ease
    content: ""
    background-image: url(../img/escolar/fondo_catalogo_escolar.svg)
    background-repeat: no-repeat
    background-position: center
    width: 180px
    height: 180px
    display: inline-block


@media (min-width: 481px) and (max-width: 767px)
  .fondo_reticula
    background-position: 13% bottom
    background-size: 90%
  .fondo123
    background-size: 70%
    background-position-x: 9%
  .m-t--200
    margin-top: 50px
  .m-t---200
    margin-top: 100px
  .m-t---100
    margin-top: 50px
  .zapatiito_3_escolar
    img
      max-width: 518px
      width: 125%
      margin-left: -57%
      transform: translateX(41%)
  .escolar_3
    width: 70%
    max-width: 550px
    img
      width: 100%
@media only screen and ( min-width: 768px )
  .texto_1_escolar
    font-size: 23px
    line-height: 27px
  .texto_2_escolar
    font-size: 30px
    line-height: 34px
  .fondo123 
    background-size: 48%
    background-position-x: 19%
  .fondo_nube_escolar
    background-size: 80%
    background-position: 50% 59%
  .left_escolar_1
    left: -80px
  .zapatiito_3_escolar
    img    
      margin-left: -54%
      transform: translateX(33%)
      max-width: 635px
      width: 120%
  .m-t--200
    margin-top: 0px
  .m-t---200
    margin-top: 200px
  .m-t---100
    margin-top: 100px
  .fondo_reticula
    background-position: -7% bottom
    background-size: 80%
  .escolar_3
    width: 90%
    max-width: 650px
    img
      width: 100%


