.fondo_escolar {
  background-image: url("../img/escolar/cabecera_escolar.svg");
  background-size: 101%;
  background-position: top center;
  background-repeat: no-repeat; }

.fondo_azul_exolcar {
  background: #61e1e3;
  background-image: -webkit-linear-gradient(#61e1e3 43.5%, white 100%);
  background-image: -o-linear-gradient(#61e1e3 43.5%, white 100%);
  background-image: linear-gradient(#61e1e3 43.5%, white 100%); }

.fondo_azul_2 {
  background: #dbeef0;
  background: -moz-linear-gradient(top, #dbeef0 10%, #94d1eb 52%, #62a5c6 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbeef0), color-stop(52%, #94d1eb), color-stop(100%, #62a5c6));
  background: -webkit-linear-gradient(top, #dbeef0 10%, #94d1eb 52%, #62a5c6 100%);
  background: -o-linear-gradient(top, #dbeef0 10%, #94d1eb 52%, #62a5c6 100%);
  background: -ms-linear-gradient(top, #dbeef0 10%, #94d1eb 52%, #62a5c6 100%);
  background: linear-gradient(to bottom, #dbeef0 10%, #94d1eb 52%, #62a5c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef0', endColorstr='#62a5c6', GradientType=0 ); }

.width_escolar {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px; }

.fondo123 {
  background-image: url(../img/escolar/123.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 0%; }

.eescolar_1 {
  max-width: 543px;
  width: 34%;
  position: relative;
  margin-top: -90%; }

.left_escolar_1 {
  left: 0px; }

.zapatiito_3_escolar img {
  max-width: 600px;
  width: 145%;
  position: relative;
  margin-left: -108%;
  transform: translateX(62%);
  margin-top: -42%;
  z-index: 1; }

.textoSeguro {
  position: relative;
  left: -8%; }

.fondo_nube_escolar {
  background-image: url("../img/escolar/nubecita_escolar.svg");
  background-position: 50% 4%;
  background-repeat: no-repeat; }

.fondo_reticula {
  background-image: url(../img/escolar/escolar_fondo-3.png);
  background-position: 49% 103%;
  background-repeat: no-repeat;
  background-size: 86%; }

.imagen_lapicitos {
  width: 122%;
  position: relative;
  left: -50%;
  transform: translateX(31%); }

.margent-top--30 {
  margin-top: -35%; }

.margent-top--200 {
  margin-top: 10px; }

.escolar_3 {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  margin-top: -68%; }
  .escolar_3 img {
    width: 100%; }

.p-b--30 {
  padding-bottom: 30%; }

.m-t--200 {
  margin-top: 0px; }

.m-t---200 {
  margin-top: 50px; }

.wrap_texto_imagen_escolar_1 {
  max-width: 350px;
  width: 89%;
  margin-left: auto; }

.texto_1_escolar {
  color: #005f8b;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  max-width: 300px;
  margin-left: auto; }

.texto_2_escolar {
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  left: -13%; }

.wrap_cat_escolar {
  width: 100%;
  border-top: 10px solid #2e92ba;
  background: #094d7c; }

.texto_cat_escolar {
  padding: 6px 15px 0px 0px; }
  .texto_cat_escolar h1 {
    font-family: margotBold;
    font-size: 15px;
    color: white; }
    .texto_cat_escolar h1 span {
      font-size: 30px;
      font-family: margotBold; }

.texto_svg_escolar_1 {
  max-width: 400px;
  margin-top: 30px; }

.m-t---100 {
  margin-top: 0px; }

#carouselescolar .carousel-indicators {
  left: auto; }
  #carouselescolar .carousel-indicators .active {
    background-color: #0958a3; }
  #carouselescolar .carousel-indicators li {
    background-color: #a6b9ea;
    cursor: pointer; }

.wrap_catalogo_escolar::before {
  transition: all 0.5s ease;
  content: "";
  background-image: url(../img/escolar/fondo_catalogo_escolar.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 180px;
  display: inline-block; }

.shapatito_baby {
  top: -53px;
  max-width: 230px; }

.icono_360Momentos {
  top: 57% !important;
  width: 84px !important; }

.backtoSchool {
  margin-top: -1px; }

@media (min-width: 481px) and (max-width: 767px) {
  .width_escolar {
    margin-top: 11%; }

  .eescolar_1 {
    margin-top: -90%;
    max-width: 537px;
    width: 38%; }

  .fondo_reticula {
    background-position: 13% bottom;
    background-size: 90%; }

  .fondo123 {
    background-size: 58%;
    background-position-x: 9%; }

  .m-t--200 {
    margin-top: 50px; }

  .m-t---200 {
    margin-top: 100px; }

  .m-t---100 {
    margin-top: 50px; }

  .zapatiito_3_escolar img {
    max-width: 500px;
    width: 122%;
    margin-left: -57%;
    transform: translateX(41%);
    margin-top: 30%; }

  .escolar_3 {
    width: 70%;
    max-width: 550px; }
    .escolar_3 img {
      width: 100%; }

  .shapatito_baby {
    top: -10px;
    max-width: 73%;
    height: 228px !important;
    left: 4%; }

  .icono_360Momentos {
    top: 93% !important; }

  .textoSeguro {
    position: relative;
    left: -8%;
    margin-top: 53%; }

  .fondo_azul_2 {
    background: #dbeef0;
    background: -moz-linear-gradient(top, #dbeef0 20%, #94d1eb 52%, #62a5c6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbeef0), color-stop(52%, #94d1eb), color-stop(100%, #62a5c6));
    background: -webkit-linear-gradient(top, #dbeef0 20%, #94d1eb 52%, #62a5c6 100%);
    background: -o-linear-gradient(top, #dbeef0 20%, #94d1eb 52%, #62a5c6 100%);
    background: -ms-linear-gradient(top, #dbeef0 20%, #94d1eb 52%, #62a5c6 100%);
    background: linear-gradient(to bottom, #dbeef0 20%, #94d1eb 52%, #62a5c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef0', endColorstr='#62a5c6', GradientType=0 ); }

  .fondo_nube_escolar {
    background-size: 91%; }

  .alturaseguro {
    margin-top: -13%; }

  .caroumomentos {
    width: 120%;
    left: -13%; } }
@media only screen and (min-width: 768px) {
  .eescolar_1 {
    max-width: 336px;
    width: 44%;
    position: relative; }

  .width_escolar {
    margin-top: -3%; }

  .imagen_lapicitos {
    width: 122%;
    position: relative;
    left: -50%;
    transform: translateX(31%); }

  .texto_1_escolar {
    font-size: 17px;
    line-height: 16px;
    margin-left: 92%;
    position: relative;
    margin-top: -41%;
    width: 179px; }

  .texto_2_escolar {
    font-size: 22px;
    line-height: 34px;
    left: -6%; }

  .fondo123 {
    background-size: 48%;
    background-position-x: 2%;
    margin-bottom: 111px;
    height: 210%;
    margin-top: -16%; }

  .left_escolar_1 {
    left: -80px; }

  .zapatiito_3_escolar img {
    margin-top: -31%;
    width: 93%;
    margin-left: -35%; }

  .m-t--200 {
    margin-top: 0px; }

  .m-t---200 {
    margin-top: 200px; }

  .m-t---100 {
    margin-top: 100px; }

  .fondo_reticula {
    background-position: 40% 100%;
    background-size: 50%; }

  .escolar_3 {
    width: 90%;
    max-width: 650px; }
    .escolar_3 img {
      position: relative;
      margin-top: -50%;
      width: 65%;
      left: 17%; }

  .shapatito_baby {
    top: 18px;
    max-width: 95%;
    height: 325px !important; }

  .caroumomentos {
    left: -22%;
    top: 5%; }

  .texto_svg_escolar_1 {
    margin-top: 31%;
    position: relative;
    left: -14%;
    max-width: 220px; }

  .icono_360Momentos {
    top: 75% !important;
    width: 84px !important; }

  .centerBigItems {
    margin-top: 100px;
    max-width: 80%; }

  .alturaseguro {
    margin-top: 20%;
    max-width: 1300px; }

  .backtoSchool {
    margin-bottom: -40%; }

  .fondo_azul_2 {
    background: #dbeef0;
    background: -moz-linear-gradient(top, #dbeef0 42%, #94d1eb 52%, #62a5c6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #dbeef0), color-stop(52%, #94d1eb), color-stop(100%, #62a5c6));
    background: -webkit-linear-gradient(top, #dbeef0 42%, #94d1eb 52%, #62a5c6 100%);
    background: -o-linear-gradient(top, #dbeef0 42%, #94d1eb 52%, #62a5c6 100%);
    background: -ms-linear-gradient(top, #dbeef0 42%, #94d1eb 52%, #62a5c6 100%);
    background: linear-gradient(to bottom, #dbeef0 42%, #94d1eb 52%, #62a5c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef0', endColorstr='#62a5c6', GradientType=0 ); }
    .fondo_azul_2 .textoSeguro {
      left: 0%; }
    .fondo_azul_2 .escritorioinicio {
      max-width: 70%; } }

/*# sourceMappingURL=_escolar.css.map */
