.primeracolumna
  margin-top: 30px
.centro_momentos
  max-width: 1000px
  widh: 100%
  margin: 0 auto
.fondo_momentos
  background-image: url(../img/momentos/fondo_momentos.svg)
  background-repeat: no-repeat
  background-size: 100%
  background-position: 0% 13%
.momentosLogo
    max-width: 300px
    width: 70%
    position: relative
    margin-top: 55%
.zapato1
  width: 100%
  margin-top: 63px
.Fondo_zapato1
  background-image: url(../img/momentos/Fondo_principal.png)
  background-repeat: no-repeat
  background-size: 180px
  margin-top: 50px
  height: 220px
  left: -20px
.florecita
  width: 64px
  position: absolute
  margin-top: 167px
  left: 31%
.chispitas
  width: 88px
  margin-left: -57px
  margin-top: 27px
.bolitasCarucel
  position: relative
  left: 56%
  top: 261px
.carousel-momentos li
  background-color: rgba(#8ee0df, 0.5) !important
.carousel-momentos .active
    background-color: rgba(#8ee0df, 1) !important
.textoMomentos1
  font-family: margot
  color: #7f7f7f
  visibility: visible
  animation-name: slideInRight
  width: 173px
  margin-left: -55px
  text-align: center
  font-size: 9px
  margin-top: -5px
.textoMomentos1S
  font-family: margotBold
  color: #04b1ad
.momentos_bloque_1
  width: 100%
  margin: 57px auto
.momentos_bloque_2
  width: 100%
.estrella
  width: 20%
  margin-left: 49px
  margin-top: 25px
.corazon
  width: 20% 
  margin-left: 36%
.momentosnuves
  margin-top: -47px
.momentos_bloque_3
  width: 100%
  margin: 70px auto
.especial
  position: relative
  width: 100%
  margin-bottom: -5px
.texto_especial_big
  font-family: margot
  color: #35ada9
  font-size: 32px
.texto_especial
  font-family: margot
  color: #35ada9
  margin-top: -14px
  line-height: 1.2
.zapatoespecial
  background-image: url(../img/momentos/espiral.png)
  background-position: 0% 58%
  background-repeat: no-repeat
  background-size: 103%
  margin-top: -58px
  height: 300px
  -webkit-animation: rotating 10s linear infinite
  -moz-animation: rotating 10s linear infinite
  -ms-animation: rotating 10s linear infinite
  -o-animation: rotating 10s linear infinite
  animation: rotating 10s linear infinite
  @-webkit-keyframes rotating 
  from 
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to 
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
@keyframes rotating 
  from 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
.corazonespiral
  background-image: url(../img/momentos/corazon.png)
  background-repeat: no-repeat
  background-size: 26px
  margin-top: -104px
  height: 70px
  margin-left: -7%
  z-index: 1
  position: relative
.corazonespiral2
  background-image: url(../img/momentos/corazon2.png)
  background-repeat: no-repeat
  background-size: 44px
  height: 79px
  position: relative
  z-index: 1
  margin-top: -247px
  margin-left: -15%
.zapatoEspiral
  position: relative
  width: 150%
  margin-top: -73%
  z-index: 1
  margin-left: -35%
.fondoZapatofinal
  background-image: url(../img/momentos/fondoZapatofinal.png)
  background-position: 50% 62%
  background-repeat: no-repeat
  background-size: 300px
  margin-top: 25px
.zapatosfinal
  position: relative
  width: 100%
  margin-top: -85px
.degragado
  background-color: #d5ffff
  background-image: linear-gradient(white, #d5ffff, white)
.fondocategorias
  background-image: url(../img/momentos/fondoCatalogo.png)
  background-position: 50% 74%
  background-repeat: no-repeat
  background-size: 706px
  margin-top: 100px
.wrap_cat_momentos
    width: 100%
    border-top: 10px solid #fffa8c
    background: #ff9f0b
.wrap_catalogo_momentos
    width: 180px
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &::before
      transition: all 0.5s ease
      content: ''
      background-image: url(../img/momentos/fondo_catalogo_momentos.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 155px
      width: 180px
      height: 180px
      display: inline-block
    &:hover
      &::before
        width: 165px
        height: 165px
.imagen_catalogo_momentos
    width: 220px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.titulo_momentos_cata
  font-size: 25px
  margin-top: 150px
  font-family: margotBold
  color: #005f93
  &:hover
    text-decoration: none
    text-shadow: -1px 0 #fdfdfd, 0 1px white, 1px 0 #ffffff, 0 -1px #ffffff
.indicadorMomentos
  bottom: -90px !important
.caruselMomentos
  background-color: #8ee0df !important
  -webkit-animation: rotating 5s ease-in-out infinite
  -moz-animation: rotating 5s ease-in-out infinite
  -ms-animation: rotating 5s ease-in-out infinite
  -o-animation: rotating 5s ease-in-out infinite
  animation: rotating 5s ease-in-out infinite
.slidemomentos
  margin-top: -82px
  width: 136%
@media (min-width: 550px) and (max-width: 950px)
  .centro_momentos
    widh: 80%
  .momentosLogo
    max-width: 320px
    margin-top: 220px
  .Fondo_zapato1
    background-position: 5% 0%
    background-size: 231px
    height: 270px
  .zapato1
    width: 360px
  .momentos_bloque_2
    width: 100%
    margin-top: 10%
  .florecita
    width: 95px
    margin-top: 56%
    left: 31%
  .bolitas
    margin-left: 0%
    margin-top: 30px
  .estrella
    width: 15%
    margin-left: 95px
  .corazon
    width: 15%
    margin-left: 38%
    margin-top: -85px
  .especial
    position: relative
    max-width: 250px
    width: 100%
  .zapatoespecial
    height: 451px
  .zapatoEspiral
    width: 120%
    margin-top: -69%
    margin-left: -15%
  .corazonespiral2
    margin-left: -13%
    margin-top: -337px
    background-size: 70px
    height: 140px
  .corazonespiral
    margin-top: -89px
    margin-left: -11%
    background-size: 47px
  .fondoZapatofinal
    background-position: 50% 3%
    background-size: 400px
  .fondocategorias
    background-position: 50% 51%
    background-size: 131%
  .textoMomentos1
    text-align: center
    font-size: 12px
  .zapatosfinal
    margin-left: 16%
    width: 70%
  .slidemomentos
    width: 100%
    margin-left: 10%
  .bolitasCarucel
    top: 377px
@media (min-width: 951px) 
  .momentosLogo
    margin-top: 400px
    max-width: 500px
    width: 100%
  .Fondo_zapato1
    background-position: 19% 0%
    background-size: 400px
    height: 500px
    margin-top: 65px
  .zapato1
    width: 466px
    margin-top: 95px
  .florecita
    margin-top: 331px
    width: 110px
    left: 36%
  .textoMomentos1
    width: 345px
    margin-top: 78px
    font-size: 17px
  .chispitas
    margin-left: -77px
    margin-top: 11px
    position: absolute
    width: 140px
  .bolitasCarucel
    position: relative
    left: 48%
    top: 445px
  .textomomentos1derecha
    margin-top: 50px
  .momentos_bloque_2
    width: 100%
    margin: 275px auto
    margin-top: 0%
  .estrella
    width: 145px
    margin-left: 15%
    margin-top: 25px
  .corazon
    width: 160px
    margin-left: 37%
  .texto_especial_big
    font-size: 82px
  .texto_especial
    font-size: 30px
  .especial
    position: relative
    width: 75%
  .zapatoespecial
    height: 506px
    margin-top: -37%
  .corazonespiral
    background-size: 68px
  .corazonespiral2
    background-size: 100px
    height: 136px
    margin-top: -82%
  .momentos_bloque_3
    margin-top: -130px
  .fondoZapatofinal
    background-position: 95% 0%
    background-size: 80%
    height: 500px
    margin-top: 30px
  .zapatosfinal
    margin-left: 9%
    width: 87%
    margin-top: -91px
  .fondocategorias
    background-position: 50% 50%
    background-size: 130%
    margin-top: 20px
    height: 600px
  .zapatoEspiral
    margin-top: -64%
    width: 120%
    margin-left: -15%
  .slidemomentos
    margin-top: -46px
    margin-left: 18%
    width: 85%