.fondo_momentos
  background-image: url(../img/momentos/fondo_momentos.svg)
  margin-top: 30px
  background-repeat: no-repeat
  block-size: 300px
  background-position: 50% 11%

.momentosLogo
  max-width: 320px
  width: 100%
  min-width: 220px
  position: relative
  // left: 52px
  margin-top: 25px

.zapato1
  position: relative
  width: 100%
  margin-top: 50px

.Fondo_zapato1
  background-image: url(../img/momentos/Fondo_zapato1.svg)
  background-position: 104% 0%
  background-repeat: no-repeat
  background-size: 301px
  margin-top: 25px

.florecita
  background-image: url(../img/momentos/florecita.svg)
  background-position: 35% 99%
  background-repeat: no-repeat
  background-size: 75px

.chispitas
  width: 88px
  margin-left: -14px
  margin-top: -30px

.bolitas
  width: 88px
  margin-left: 240px

.textoMomentos1
  font-family: margot
  color: #7f7f7f

.textoMomentos1S
  font-family: margotBold
  color: #04b1ad

.momentos_bloque_1
  width: 100%
  margin: 57px auto

.momentos_bloque_2
  width: 100%
  margin: 400px auto

.estrella
  width: 45px
  margin-left: 49px
  margin-top: 25px

.corazon
  width: 64px
  margin-left: 182px

.momentosnuves
  margin-top: -47px

.momentos_bloque_3
  width: 100%
  margin: 50px auto
  margin-top: -350px

.especial
  position: relative
  width: 80%

.texto_especial_big
  font-family: margot
  color: #35ada9
  font-size: 75px

.texto_especial
  font-family: margot
  color: #35ada9
  font-size: 20px

.zapatoespecial
  background-image: url(../img/momentos/espiral.svg)
  background-position: 50% 62%
  background-repeat: no-repeat
  background-size: 350px
  margin-top: 25px

.zapatoEspiral
  position: relative
  width: 100%
  margin-top: -45px
  -moz-transform: scaleX(-1) 
  -o-transform: scaleX(-1) 
  -webkit-transform: scaleX(-1) 
  transform: scaleX(-1) 
  filter: FlipH 

.fondoZapatofinal
  background-image: url(../img/momentos/fondoZapatofinal.svg)
  background-position: 50% 62%
  background-repeat: no-repeat
  background-size: 350px
  margin-top: 25px
  margin-left: 25px

.zapatosfinal
  position: relative
  width: 100%
  margin-top: -85px
  -moz-transform: scaleX(-1) 
  -o-transform: scaleX(-1) 
  -webkit-transform: scaleX(-1) 
  transform: scaleX(-1) 
  filter: FlipH 

.degragado
  height: 1500px
  background-color: #d5ffff
  background-image: linear-gradient(white, #d5ffff, white)