$azulVerde: #33bab0
$azulCielo: #00adef
$naranja: #e85135
$verde: #2bb572
$verde2: #91bf3f
$amarillo: #f9af3f
$gris: #55565A
$azulFuerte: #293968
$azulito: #93d3ef


@import "_font-hlp"

@include declare-font-face('margot', 'Margot-Regular', 'regular')
@include declare-font-face('margotBold', 'Margot-Bold', 'bold')
@include declare-font-face('margotItalica', 'Margot-BoldItalic', 'bold', 'italic' )
@include declare-font-face('mikado', 'MikadoMedium', 'regular')
@include declare-font-face('mikadoBold', 'MikadoBold', 'bold')
@include declare-font-face('mikadoLight', 'MikadoLight', 'light')
@import "_juvenil"
@import "_kids"
@import "_baby"
@import "_primeros"
 
*
  padding: 0
  margin: 0
  font-family: margot

p 
  display: block
  -webkit-margin-before: 0px
  -webkit-margin-after: 0px
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
.cuerpo_blog
  p
    img
      display: block
      margin: 0 auto
      max-width: 600px
      width: 80% !important
.icono_360
  width: 100px
  margin: auto
  position: absolute
  left: 50%
  transform: translate(-50%)
  top: 74%
  img
    width: 100%

.regresar
  text-align: leftx
  a
    font-size: 20px
    font-family: mikadoBold
    color: $naranja

.titulo_aviso_privacidad_mini
  font-family: mikadoBold
  color: #33baaf
  font-size: 1.8em

.centro_submenu
  max-width: 800px
  width: 90%
  margin: 0 auto

.altura_80
  height: 100vh

.logo_veinticinco
  top: -100px
  position: relative
  transition: all 1s
  img
    width: 70px

.icono_aparece
  transition: all 2s
  display: none

.nombre_producto
  font-family: mikado
  color: $azulVerde
  mix-blend-mode: multiply

.btn_tienda_linea
  width: 150px
  margin-top: 5px
  padding: 6px 0
  background-color: #ff5c57
  position: relative
  left: 50%
  transform: translateX(-50%)
  a
    color: white

.nombres_categorias_producto
  a
    font-family: mikado
    color: $verde2
    mix-blend-mode: exclusion

.titulo_catalogo
  font-family: mikado
  color: $azulFuerte
  margin-bottom: 0px

.abierto_minis
  width: 100% !important

.margen_top_producto
  margin-top: 80px

.cerrado_minis
  width: 0 !important

#myCarousel
  .carousel-indicators li
    background-color: transparent
  .carousel-indicators .active
    background-color: transparent

.tallas_detalle
  list-style: none
  text-align: center
  border: 1px solid #aee8f5
  margin-left: -1px
  margin-bottom: -1px
  padding: 5px 0px
  font-size: 15px
  font-family: mikadoBold
  color: white
  max-width: 20%
  background-color: #17a2b8

.detalle_color                
  width: 30px


#navegacion_miniburbuajas
  transition: all 0.3s ease-in-out
  position: fixed
  width: 0
  height: 100vh
  z-index: 3
  overflow-x: hidden
  top: 0
  background: rgb(51,102,255)
  background: -moz-linear-gradient(top, rgba(51,102,255,1) 0%, rgba(36,255,255,1) 100%)
  background: -webkit-linear-gradient(top, rgba(51,102,255,1) 0%,rgba(36,255,255,1) 100%)
  background: linear-gradient(to bottom, rgba(51,102,255,1) 0%,rgba(36,255,255,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3366ff', endColorstr='#24ffff',GradientType=0 )

.cambio_fondo
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh

.alineado_justificado
  text-align: justify

.titulo_acerca_1
  font-size: 34px
  line-height: 33px
  color: #4c7cff
  font-family: margotBold

.fondo_baby
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background: linear-gradient(135deg, rgba(0,255,255,1) 0%, rgba(108,255,172,1) 100%)
  opacity: 0

.margen_menu
  margin-top: 10px
  margin-bottom: 10px

.contacto_link
  text-align: center
  font-size: 30px
  font-weight: bold
  a
    color: white
    font-size: 30px
    font-family: mikadoBold

.contacto_footer_link
  color: white
  font-size: 30px
  font-family: mikadoBold
  transition: all 0.5s
  &:hover
    decoration: none
    transform: scale(1.1)
    


.fondo_kids
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background: linear-gradient(135deg, rgba(120,232,249,1) 0%, rgba(120,110,249,1) 100%)
  opacity: 0

.fondo_primeros
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background: linear-gradient(135deg, rgba(120,232,249,1) 0%, rgba(108,211,167,1) 100%)
  opacity: 0

.fondo_juvenil
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background:  linear-gradient(45deg, rgba(120,232,249,1) 0%, rgba(50,79,91,1) 100%)
  opacity: 0

.opciones_submenu
  position: relative
  z-index: 7
  margin-top: 70px

.cerrar_navega
  padding: 30px 0
  color: white
  font-family: mikadoBold
  font-size: 30px
  cursor: pointer

.al_100
  width: 100

.al_49
  width: 49%

.flexeado
  display: flex

.contenedor_2
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4293d3ef', endColorstr='#4200ffff',GradientType=0 )
  background-image: url('../img/fondo_contenedor2_pv.svg'), linear-gradient(to bottom, rgba(147,211,239,0.26) 0%,rgba(0,255,255,0.26) 100%)
  background-blend-mode: lighten
  background-size: 200%
  background-position: center
  padding-top: 45px
  padding-bottom: 45px
  overflow: hidden
  .imagen_lading
    position: absolute
    top: 25%
    left: 50%

.centro_360
  max-width: 600px
  margin: 0 auto

.texto_cont_2
  font-size: 20px
  color: $gris
  margin-bottom: 50px
  line-height: 25px
  p
    margin-bottom: 0px
  p:nth-child(2) span
    color: $azulVerde
    font-size: 25px
    font-family: margotBold
  p:nth-child(4) span
    color: $azulCielo
    font-size: 18px
    font-family: margotBold
  p:nth-child(5) span
    color: $azulVerde
    font-size: 28px
    font-family: margotBold

.texto_cont_3
  color: $gris
  margin-bottom: 50px
  margin-top: 104px
  max-width: 340px
  width: 100%
  margin-left: auto
  margin-right: auto
  p
    margin-bottom: 0px
    font-size: 17px
    line-height: 18px
  p:nth-child(2) span , p:nth-child(3) span
    color: $azulFuerte
    font-size: 24px
    font-family: margotBold
    line-height: 25px
  p:nth-child(5) span
    color: $azulFuerte
    font-size: 24px
    line-height: 25px
    font-family: margotBold


.texto_cont_4
  color: $gris
  margin-bottom: 50px
  margin-top: 80px
  margin-left: auto
  margin-right: auto
  p 
    margin-bottom: 0px
    font-size: 19px 
    line-height: 20px
  p:nth-child(2) span
    font-family: margotBold
    color: $azulCielo
    font-size: 18px 
    line-height: 20px
  p:nth-child(3) span
    font-family: margotBold
    color: $amarillo
    font-size: 27px
    line-height: 30px
  p:nth-child(5) span
    font-family: margotBold
    color: $verde
    font-size: 27px
    line-height: 29px
  p:nth-child(7) span
    font-family: margotBold
    color: $azulVerde
    font-size: 23px
    line-height: 26px
  p:nth-child(8) span
    font-family: margotBold
    color: $azulCielo
    font-size: 21px
    line-height: 24px

.texto_cont_5
  margin-left: auto
  text-align: center
  margin-right: auto
  p 
    color: $gris
    margin-bottom: 0px
    font-size: 14px 
  p span
    font-family: margotBold
    color: $azulVerde
    font-size: 18px
    line-height: 0px
  img
    max-width: 150px

.texto_cont_dropdown
  margin-bottom: 10px
  margin-top: 10px
  margin-left: auto
  text-align: center
  margin-right: auto
  max-width: 300px
  width: 90%
  text-align: left
  p 
    color: white
    margin-bottom: 0px
    font-size: 20px 
  p span
    font-family: mikadoBold
    color: white
    font-size: 22px
    line-height: 0px

.lista_landing
  text-align: center
  color: white

.collapse_lista
  font-size: 20px
  padding: 10px 0
  font-family: margotBold
  &:nth-child(1)
    background-color: $azulFuerte
  &:nth-child(2)
    background-color: $azulCielo
  &:nth-child(3)
    background-color: $verde2
  &:nth-child(4)
    background-color: $azulito
  button
    background: transparent
    border: none
    color: white
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      -webkit-transform: scale(1.1,1.1)
      -moz-transform: scale(1.1,1.1)
      -ms-transform: scale(1.1,1.1)
      -o-transform: scale(1.1,1.1)
      transform: scale(1.1,1.1)

.btn_submit_mini
  background-color: #33baaf
  padding: 10px 50px
  border: none
  border-radius: 7px
  transition: all 0.3s ease-in-out
  cursor: pointer
  &:hover
    background-color: #00abaa

.particula_potato
  position: absolute
  top: 5%
  left: 25%
  width: .5em
  height: .5em
  margin: -.5em auto -.5em
  border: 1px solid currentColor
  background-color: currentColor
  border-radius: 50%
  font-size: 10px
  transform: scale(0)


.canvas
  margin: 0 auto
  text-align: center
  svg
    top: -136px
    margin: 0 auto
    width: 300px
    height: 200px

.redes_sociales_footer
  max-width: 300px
  width: 100%
  margin: 0 auto
  div
    display: inline-block
    width: 30px
    margin: 0px 3px
    img
      width: 100%

.wrap_huarache
  position: relative
  background-position: center center
  background-image: url(../img/fondo_corazon.png)
  background-size: contain
  background-repeat: no-repeat
  display: inline-block
  width: 100%
  text-align: center

.huarache_landing
  width: 280px
  margin: 80px auto
  img
    width: 100%
    transform: rotate(22deg)

.iconos_productos_fotoer
  max-width: 350px
  width: 100%
  margin: 0 auto

.icono_footer
  display: inline-block
  width: 49%
  margin: 24px 0
  a
    width: 100% 
    img
      width: 55%

.footer
  background: #33baaf
  color: white
  a
    color: white
    font-family: margotBold

.texto_bold
  color: white
  font-family: margotBold

.wrapper
  position: relative
  overflow-x: hidden
  width: 100%
  height: 100%

.titulo_collapse
  font-size: 27px
  font-family: mikadoBold
  letter-spacing: -3px
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.64)
  transition: all 0.2s
  &:hover
    letter-spacing: -2px


.alienado_centro
  text-align: center

.eres_distribuidor
  font-family: mikadoBold
  color: #495057
  font-size: 25px

.eeexito
  margin-top: 71px

#iconito_abrir
  font-size: 40px
  margin-top: -30px

.fondo_circulo_acerca
  h1, p
    font-family: margotBold
    color: #211e42
  p
    font-size: 25px
  h1
    font-size: 20px
    line-height: 23px
  p:nth-child(5)
    color: #33baaf
    line-height: 19px
  p:nth-child(6)
    color: #4c7cff
    font-size: 30px
    line-height: 34px

p.texto_light_acerca
  max-width: 300px 
  margin: 0 auto
  font-family: margot
  font-size: 20px
  color: #211e42
  line-height: 22px

.alienado_derecha
  text-align: right

.upperca
  text-transform: uppercase

.textoBold
  font-family: margotBold

.texto_header
  font-size: 20px
  line-height: 22px
  span
    font-size: 15px
    font-family: margot
    color: black

.logo_header
  width: 80px
  transition: all 1s
  position: relative
  left: -80px
  img
    width: 50px

.icono_social
  width: 23px
  margin: 0 auto
  img
    width: 100%

.naranja
  color: $naranja

.azulcielo
  color: $azulCielo

.azulverde
  color: $azulVerde

.amarillo
  color: $amarillo

.verde
  color: $verde

.gris
  color: $gris

.landing_25aniv
  background-image: transparent
  background-blend-mode: overlay
  background-size: 250%
  background-position: 50% 50%
  height: 100vh

.logo_25aniv
  max-width: 250px
  width: 90%
  margin: 0 auto
  img
    width: 100%

.logo_mini_g
  max-width: 120px
  width: 90%
  margin: 0 auto
  img
    width: 100%

.sociales_header
  margin-top: -15px
  padding: 0px 5px

.centro_1100
  max-width: 1100px
  width: 90%
  margin: 0 auto

.centro_800
  max-width: 800px
  margin: 0 auto

.centro_700
  max-width: 700px
  margin: 0 auto

.celebramos
  position: relative

.dosmil_acerca
  width: 700px
  position: relative
  left: 50%
  transform: translate(-50%)

.fondo_triangulo
  position: relative
  img
    width: 85px

.texto_acerca
  max-width: 320px
  margin: 0 auto
  font-size: 20px
  text-align: center
  span
    font-family: mikadoBold
    font-size: 30px
    line-height: 28px

.texto_aviso
  max-width: 580px
  width: 90%
  margin: 0 auto
  font-size: 20px
  text-align: justify
  span
    font-family: mikadoBold
    font-size: 30px
    line-height: 28px

.fondo_detalle_produ
  background-image: url('../img/fondo_detalle.jpg')
  background-size: 240%
  background-position: right bottom
  background-repeat: no-repeat

.galelaeano
  img
    mix-blend-mode: multiply

.fondo_circulo_acerca
  background-color: white
  border-radius: 50%
  display: inline-block
  width: 330px
  height: 330px

.rectangulo_gigante_acerca
  width: 1000px
  background: rgba(140,199,64,1)
  background: -moz-linear-gradient(-45deg, rgba(140,199,64,1) 0%, rgba(51,186,177,1) 59%)
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(140,199,64,1)), color-stop(59%, rgba(51,186,177,1)))
  background: -webkit-linear-gradient(-45deg, rgba(140,199,64,1) 0%, rgba(51,186,177,1) 59%)
  background: -o-linear-gradient(-45deg, rgba(140,199,64,1) 0%, rgba(51,186,177,1) 59%)
  background: -ms-linear-gradient(-45deg, rgba(140,199,64,1) 0%, rgba(51,186,177,1) 59%)
  background: linear-gradient(135deg, rgba(140,199,64,1) 0%, rgba(51,186,177,1) 59%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc740', endColorstr='#33bab1', GradientType=1 )
  border-radius: 60px
  left: 50%
  height: 1000px
  position: absolute
  top: -240%
  z-index: -2
  -webkit-transform: translate(-50%) rotate(225deg)
  -moz-transform: translate(-50%) rotate(225deg)
  -ms-transform: translate(-50%) rotate(225deg)
  -o-transform: translate(-50%) rotate(225deg)
  transform: translate(-50%) rotate(225deg)

.desde_padding
  padding: 0px

.texto_noventa
  line-height: 65px
  p
    font-family: margotBold
    font-size: 60px
  p:nth-child(1)
    color: #93d3ef
  p:nth-child(2)
    color: #33baaf
  p:nth-child(3)
    color: #2bb572
  p:nth-child(4)
    color: #4c7cff

.nav-iconos
  width: 32px
  height: 45px
  position: relative
  margin: 0 auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 6px
    width: 100%
    border-radius: 9px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(1)
      background: #2BB573
      top: 0px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &:nth-child(2)
      background: #33BAB0
      top: 10px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &:nth-child(3)
      background: #94D4F0
      top: 20px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
  &.abrir_header span:nth-child(1) 
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    top: -3px
  &.abrir_header span:nth-child(2) 
    width: 0%
    opacity: 0
  &.abrir_header span:nth-child(3) 
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    top: 20px

.navegador_movil
  width: 100vw
  background: #fff
  position: fixed
  z-index: 3
  height: 98px
  top: -13px
  padding-top: 19px

.inspired-by
  display: block
  position: relative
  margin-bottom: 15px
  text-align: center
  color: #fff
  font-size: 14px

.cosa
  background-position: 50% 50%

.cosas
  width: 100%
  height: 100vh
  display: inline
  background-position: 50% 50%

.wrapper
  position: relative
  overflow-y: hidden
  width: 100%
  height: 90vh

.card
  display: block
  position: absolute
  top: 75px
  margin: 0 auto
  transform: translateX(-50%)
  width: 100vw
  border: 0px
  border-radius: 15px
  background-color: transparent
  box-shadow: 0 30 50 rgba(0, 0, 0, 0.2)
  will-change: left
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.aniversario_landing
  background-image: url("../img/circulitos_vista_1.svg"), radial-gradient(ellipse at center, rgba(187,250,229,0) 0%,rgba(187,250,229,0.45) 85%)
  background-size: cover
  backgorund-position: center center
  text-align: center

.vercatalogo
  background-image: url("../img/fondo_coleccion_pv.svg"), radial-gradient(ellipse at center, rgba(232,251,254,0) 0%,rgba(198,252,231,0.45) 85%)
  background-size: cover
  backgorund-position: center center


.wrap_aniversario
  width: 300px
  height: 100vh
  margin: 0 auto

.imagen_logo_landig
  width: 120px
  margin: 0 auto
  margin-top: -44px

.wrap_vercatalogo
  width: 350px
  height: 100vh
  margin: 0 auto


.lala 
  width: 90%

.carta_ancho
  width: 350px

.carta_ancho_2
  width: 450px

.card--19
  left: 50%
  box-shadow: 0px

.card--solstice,.card--huarache, .card--junior
  left: 150%

.card__header
  text-align: center
  position: relative
  height: auto
  padding: 30px
  border-radius: 15px
  color: #fff

.card__header--mini25
  background: transparent
  background-size: 200%
  background-position: 50% 50%


.card__header--19
  background-image: url('../img/fondo_baby.svg'), linear-gradient(#a5dddd, #F1F2F2)
  background-blend-mode: overlay
  background-size: 700%
  background-position: 50% 50%


.card__header--kids
  background-image: url('../img/fondo_kids.svg'),linear-gradient(#7096EF, #FFFFFF)
  background-blend-mode: overlay
  background-size: 300%
  background-position: 50% 50%


.card__header--pasos
  background-image: linear-gradient(#D3FFDD, #FFFFFF)
  background-blend-mode: overlay
  background-size: 300%
  background-position: 50% 50%


.card__header--solstice
  background-image: linear-gradient(#9CCFE7, #FFFFFF)
  background-blend-mode: overlay
  background-size: 700%
  background-position: 50% 50%

.card__header--huarache
  background-color: #26C9F7
  background-image: linear-gradient(#26C9F7, #DFFC3C)
  background: #26C9F7
  background: linear-gradient(#26C9F7, #DFFC3C)

.card__watermark
  overflow: hidden
  position: absolute
  bottom: 10px
  left: 0
  height: 300px
  width: 100%

.card__watermark::after
  content: ''
  position: relative
  mix-blend-mode: lighten
  font-size: 240px
  font-weight: 700
  width: 100%
  text-transform: uppercase

.card__logo
  width: 90%
  height: auto
  margin-top: 0px

.primera_imagen_landing
  width: 80%
  height: auto
  margin-top: 20%

.card__price
  float: right
  font-size: 16px
  font-weight: 300


.card__title
  margin: 35px 0 20px
  font-size: 15px
  line-height: 1.1em
  text-transform: uppercase
  letter-spacing: 1.5px
  transition: all 1s


.card__subtitle
  display: block
  font-size: 13px
  font-weight: 300


.card__body
  position: relative
  padding: 40px 30px 20px


.card__image
  z-index: 1
  position: relative
  top: -40px
  left: -30px
  width: 125%
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none

.icono_navegacion_menu
  max-width: 150px
  transition: all 0.3s ease-in-out
  &:hover
    -webkit-transform: scale(1.1,1.1)
    -moz-transform: scale(1.1,1.1)
    -ms-transform: scale(1.1,1.1)
    -o-transform: scale(1.1,1.1)
    transform: scale(1.1,1.1)

.titulo_generico_mini
  font-family: mikadoBold
  color: #33baaf
  font-size: 36px

.card__wish-list
  display: block
  width: 70%
  margin: 0 auto 15px
  padding: 15px
  border-radius: 20px
  text-align: center
  text-transform: uppercase
  font-size: 14px
  background: linear-gradient(to right, rgba(82,64,254,1) 0%, rgba(196,36,253,1) 100%)
  background-size: 1px 50px
  color: white
  font-family: mikado
  transition: background 1s ease-out
  a 
    color: white
    font-family: mikado
    &:hover
      text-decoration: none
  &:hover
    background: linear-gradient(to right, rgba(82,64,254,1) 50%, rgba(196,36,253,1) 100%)

.acerca_footer
  background: #00abaa


.carousel-indicators li 
  width: 15px
  border-radius: 50%
  height: 15px


.card__category
  display: block
  font-size: 12px
  color: #AEAEAE
  text-transform: uppercase
  text-align: center


.card__will-animate
  will-change: transform


.cards-placeholder
  display: block
  position: relative
  margin-bottom: 0px
  text-align: center

.cards-placeholder__item
  opacity: 0.3
  display: inline-block
  margin-right: 10px
  background-color: #fff
  width: 30px
  height: 5px
  border-radius: 5px
  transition: opacity 0.2s
  will-change: opacity

.cards-placeholder__item--active
  opacity: 1

.logo_mini_landing
  width: 160px

.no_mostrar, .escritorio
  display: none

.mobiles
  display: block

.coleccion_1
  width: 275px
  position: relative
  z-index: 2
  left: -5px

.coleccion_2
  width: 280px
  position: relative
  top: -85px
  margin: 0 auto
  img
    width: 100%

.coleccion_3
  margin: -66px
  width: 350px
  position: relative
  top: -175px
  left: 67px

.contacto_fondo
  background-color: #00c9d6
  padding: 5px 0
  margin: 10px 0 20px

.aviso_privacidad
  a
    font-family: margot

.derechos
  font-family: margot

.texto_acerca_2
  font-family: margotBold
  font-size: 35px
  line-height: 36px
  color: #2bb572
  text-align: center
.tipo_calzado_acerca
  text-transform: uppercase
  width: 100%
  padding: 30px 0
  background: rgb(44,127,135)
  background: -moz-linear-gradient(top, rgba(44,127,135,1) 26%, rgba(39,78,100,1) 100%)
  background: -webkit-linear-gradient(top, rgba(44,127,135,1) 26%,rgba(39,78,100,1) 100%)
  background: linear-gradient(to bottom, rgba(44,127,135,1) 26%,rgba(39,78,100,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7f87', endColorstr='#274e64',GradientType=0 )
  p
    color: white
    font-family: margotBold
    text-align: justify
    font-size: 15px

.ancho_calzado
  width: 200px

.circulito_1::before, .circulitos_2::before
  content: ''
  width: 12px
  height: 12px
  border-radius: 50%
  display: inline-block

.circulito_1::before
  background: #95babf
.circulitos_2::before
  background: #95dab9

.circulitos_2
  color: #33baaf
  font-family: mikadoBold
  font-size: 20px

.centro_240
  max-width: 240px
  text-align: justify
  margin: 0 auto

.fondo_mapamundi
  background-image: url('../img/mapamundi.png')
  background-position: bottom center
  background-size: 630px
  background-repeat: no-repeat

p 
  margin-top: 0
  margin-bottom: 0


.breadcrumb
  background: #33baaf
  color: #fff
  .breadcrumb-item
    color: #fff

.futuro_acerca
  font-family: margotBold
  font-size: 30px
  color: #211e42
  line-height: 28px
  span
    font-size: 27px
    line-height: 27px

.el_mejor_acerca
  p
    font-family: margotBold
    color: #33baaf
    font-size: 97px
    line-height: 105px
  p:nth-child(1)
    margin-left: -75px
  p:nth-child(3)
    font-size: 68px
    line-height: 54px
    color: #4c7cff

.logo_sapica
  width: 237px
  height: 87px

.logo_mini_acerca
  width: 100px
  margin: 0 auto

.nuestra_familia
  font-size: 30px
  line-height: 31px
  font-family: margotBold
  color: #e85135
  text-transform: uppercase

.wrap_el_mejor
  position: relative

.zapatito_acerca_2
  position: absolute
  width: 180px
  top: -13px
  right: -9px
  img
    width: 100%

.anive_acerca
    margin: 0 auto
    width: 170px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-42%)


.logo_detalle_producto
  max-width: 300px
  width: 100%

.abrir_wrap_suscrip
  cursor: pointer

.flechita_abrir
  i
    width: 30px
    color: #005f93

.mostrar_suscripcion, .mostrar_wrap_formulario
  display: none

.suscribirse_texto
  text-align: center
  p
    font-size: 36px
    font-family: MikadoBold
    color: #005f93
  h2
    font-size: 57px
    font-family: MikadoBold
    line-height: 66px
    color: #005f93

.wrap_imagen_suscribirse
  position: relative
  display: block

.img_zapatito_sus
  margin-top: -186px 
  img
    max-width: 500px
    width: 100%

.img_nubesita_sus
  z-index: -2
  margin-left: -67px
  img
    max-width: 600px
    width: 100%

#myCarousel 
  max-width: 600px
  margin: 0 auto

#myCarousel .list-inline 
  white-space: nowrap

#myCarousel .carousel-inner, .carousel-item
  height: auto
  text-align: center

#myCarousel .carousel-indicators 
  position: static
  left: initial
  width: 100%
  margin-left: initial


#myCarousel .carousel-indicators > li 
  width: 100px
  height: initial
  text-indent: initial


#myCarousel .carousel-indicators > li.active img 
  opacity: 0.7

.imagen_landing_tenis
  width: 350px

.carousel-indicators
  z-index: 2

.carusel_landing .carousel-control-next-icon, .carusel_landing .carousel-control-prev-icon
  width: 30px
  height: 30px

.carousel-indicators li
  background-color: rgba(#2bb473, 0.5)
  cursor: pointer

.carousel-indicators .active
    background-color: rgba(#2bb473, 1)

.carousel-control-next-icon 
    background-image: url('../img/flecha_siguiente.svg')
.carousel-control-prev-icon
    background-image: url('../img/flecha_anterior.svg')

.gusano_universal_blog
    background-image: url('../img/oruga_universal_2.png')
    background-position: top center

.centrado
  margin: 0 auto

.textos_blog
  h1
    font-family: mikadoBold
    color: #2e4898

.cuerpo_blog
  h1
    font-family: mikadoBold
    color: #2e4898
    strong
      span
        font-family: mikadoBold
        font-size: 30px !important
  h2
    font-family: mikadoBold
    color: #2e4898
    font-size: 24px !important
    strong
      span
        font-family: mikadoBold
        font-size: 24px !important
  h3
    font-family: mikadoBold
    color: #2e4898
    font-size: 16px
    strong
      span
        font-family: mikadoBold
        font-size: 16px

.textos_noticias
  h2
    font-size: 30px
    font-family: mikadoBold
    color: #2e4898
  a
    font-size: 20px
    font-family: mikadoBold
    color: #ff3b37

.pagination
  display: inline-block
  text-align: center
  li
    display: inline-block
    background-color: #6cd3a7
    margin: 0px 5px
    color: white
    padding: 3px 10px
    border-radius: 50%
    a 
      color: #366852
      cursor: pointer

#regresar_blog
  font-family: mikadoBold
  color: #ff3b37
.row
  margin-left: 0
  margin-right: 0

.centro_sus
  max-width: 850px
  widh: 80%
  margin: 0 auto
  margin-top: -50px

.separacion_cate_baby
  margin-top: 300px


@media only screen and ( min-width: 768px )
  .separacion_cate_baby
    margin-top: 0px
  .fondo_detalle_produ
    background-size: 130%
    background-position: center
  .titulo_generico_mini
    font-size: 4em
  .navegador_movil
    padding-top: 0px
    height: 104px
  .titulo_collapse
    font-size: 35px
  .zapatito_acerca_2
    right: 48px
  .el_mejor_acerca
    p
      font-size: 124px
  .circulitos_2
    font-size: 23px
  .circulito_1::before, .circulitos_2::before
    content: ''
    width: 15px
    height: 15px
  .icono_social
    width: 30px
  .altura_80
    height: 80vh
  .logo_veinticinco
    top: -100px
    position: relative
    transition: all 1s
    img
      width: 110px
  .logo_header
    width: 80px
    transition: all 1s
    position: relative
    left: -80px
    img
      width: 80px
  .escritorio
    display: block
  .mobiles
    display: none
  .contenedor_2 .imagen_lading  
    top: 20%
    left: 66%
  .imagen_landing_tenis
    width: 427px
  .suscribirse_text
    h2
      font-size: 66px
  .huarache_landing
    width: 600px
    margin: 80px auto
  #myCarousel .carousel-inner, .carousel-item
    height: auto
  .margen_menu
    margin-top: 10px
    margin-bottom: 10px
  .icono_navegacion_menu
    max-width: 150px
  .margen_top_producto
    margin-top: 0px
  .coleccion_3
    width: 379px
    margin: -66px
    top: -265px
    left: 157px
  .coleccion_1
    width: 321px
    left: -155px
  .fondo_circulo_acerca
    width: 460px
    height: 460px
    p
      font-size: 35px
    h1
      font-size: 40px
    p:nth-child(5)
      line-height: 40px
    p:nth-child(6)
      font-size: 50px
      line-height: 44px
  p.texto_light_acerca
    font-size: 20px
    max-width: 450px 
  .texto_noventa
    line-height: 65px
    p
      font-family: margotBold
      font-size: 80px
  .rectangulo_gigante_acerca
    top: -140%
  .desde_padding
    padding: 60px 0 0 0
  .texto_aviso
    max-width: 100%
  .texto_acerca
    max-width: 455px
  .texto_acerca_2
    max-width: 500px
    margin: 0 auto
  .tipo_calzado_acerca p
    font-size: 18px
  .titulo_acerca_1
    font-size: 45px
    line-height: 40px
