$azulVerde: #33bab0
$azulCielo: #00adef
$naranja: #e85135
$verde: #2bb572
$verde2: #91bf3f
$amarillo: #f9af3f
$gris: #55565A
$azulFuerte: #293968
$azulito: #93d3ef


@import "_font-hlp"


@include declare-font-face('margot', 'Margot-Regular', 'regular')
@include declare-font-face('margotBold', 'Margot-Bold', 'bold')
@include declare-font-face('margotItalica', 'Margot-BoldItalic', 'bold', 'italic' )
@include declare-font-face('mikado', 'MikadoMedium', 'regular')
@include declare-font-face('mikadoBold', 'MikadoBold', 'bold')
@include declare-font-face('mikadoLight', 'MikadoLight', 'light')
@import "_juvenil"
@import "_kids"
 
*
  padding: 0
  margin: 0
  font-family: margot

p 
  display: block
  -webkit-margin-before: 0px
  -webkit-margin-after: 0px
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px

.al_100
  width: 100

.al_49
  width: 49%

.contenedor_2
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4293d3ef', endColorstr='#4200ffff',GradientType=0 )
  background-image: url('../img/fondo_contenedor2_pv.svg'), linear-gradient(to bottom, rgba(147,211,239,0.26) 0%,rgba(0,255,255,0.26) 100%)
  background-blend-mode: lighten
  background-size: 200%
  background-position: center
  padding-top: 45px
  padding-bottom: 45px
  overflow: hidden
  .imagen_lading
    position: absolute
    top: 20%
    transform: rotate(-38deg)    
    left: 38%

.texto_cont_2
  font-size: 14px
  color: $gris
  margin-bottom: 50px
  p
    margin-bottom: 0px
  p:nth-child(2) span
    color: $azulVerde
    font-size: 21px
    font-family: margotBold
  p:nth-child(4) span
    color: $azulCielo
    font-size: 15px
    font-family: margotBold
  p:nth-child(5) span
    color: $azulVerde
    font-size: 25px
    font-family: margotBold

.texto_cont_3
  color: $gris
  margin-bottom: 50px
  margin-top: 80px
  width: 280px
  margin-left: auto
  margin-right: auto
  p
    margin-bottom: 0px
    font-size: 14px
  p:nth-child(2) span , p:nth-child(3) span
    color: $azulFuerte
    font-size: 21px
    font-family: margotBold   
  p:nth-child(5) span
    color: $azulFuerte
    font-size: 21px
    font-family: margotBold


.texto_cont_4
  color: $gris
  margin-bottom: 50px
  margin-top: 80px
  margin-left: auto
  margin-right: auto
  p 
    margin-bottom: 0px
    font-size: 14px 
  p:nth-child(2) span
    font-family: margotBold
    color: $azulCielo
    font-size: 18px 
  p:nth-child(3) span
    font-family: margotBold
    color: $amarillo
    font-size: 24px
  p:nth-child(5) span
    font-family: margotBold
    color: $verde
    font-size: 24px
  p:nth-child(7) span
    font-family: margotBold
    color: $azulVerde
    font-size: 20px
  p:nth-child(8) span
    font-family: margotBold
    color: $azulCielo
    font-size: 18px

.texto_cont_5
  margin-bottom: 50px
  margin-top: 80px
  margin-left: auto
  text-align: center
  margin-right: auto
  max-width: 380px
  p 
    color: $gris
    margin-bottom: 0px
    font-size: 14px 
  p span
    font-family: margotBold
    color: $azulVerde
    font-size: 18px
    line-height: 0px
  img
    width: 70%

.lista_landing
  text-align: center
  color: white
  div
    font-size: 20px
    padding: 10px 0
    font-family: margotBold
  div:nth-child(1)
    background-color: $azulFuerte
  div:nth-child(2)
    background-color: $azulCielo
  div:nth-child(3)
    background-color: $verde2
  div:nth-child(4)
    background-color: $azulito

.particula_potato
  position: absolute
  top: 5%
  left: 25%
  width: .5em
  height: .5em
  margin: -.5em auto -.5em
  border: 1px solid currentColor
  background-color: currentColor
  border-radius: 50%
  font-size: 10px
  transform: scale(0)


.canvas
  margin: 0 auto
  text-align: center
  svg
    top: -136px
    margin: 0 auto
    width: 300px
    height: 200px

.redes_sociales_footer
  max-width: 300px
  width: 100%
  margin: 0 auto
  div
    display: inline-block
    width: 30px
    margin: 0px 3px
    img
      width: 100%

.wrap_huarache
  position: relative
  background-position: center center
  background-image: url(../img/fondo_corazon.png)
  background-size: contain
  background-repeat: no-repeat
  display: inline-block
  width: 100%
  text-align: center

.huarache_landing
  width: 280px
  margin: 80px auto
  img
    width: 100%
    transform: rotate(22deg)

.iconos_productos_fotoer
  max-width: 350px
  width: 100%
  margin: 0 auto

.icono_footer
  display: inline-block
  width: 49%
  margin: 24px 0
  a
    width: 100% 
    img
      width: 55%

.footer
  background: #33baaf
  color: white
  a
    color: white
    font-family: margotBold

.texto_bold
  color: white
  font-family: margotBold

.wrapper
  position: relative
  overflow-x: hidden
  width: 100%
  height: 100%

.alienado_centro
  text-align: center

.alienado_derecha
  text-align: right

.upperca
  text-transform: uppercase

.textoBold
  font-family: margotBold

.texto_header
  font-size: 15px
  span
    font-size: 12px
    font-family: margot
    color: black

.logo_header
  width: 80px    
  margin: 0 auto
  img
    width: 100%

.icono_social
  width: 30px
  margin: 0 auto
  img
    width: 100%

.naranja
  color: $naranja

.azulcielo
  color: $azulCielo

.azulverde
  color: $azulVerde

.amarillo
  color: $amarillo

.verde
  color: $verde

.gris
  color: $gris

.landing_25aniv
  background-image: transparent
  background-blend-mode: overlay
  background-size: 250%
  background-position: 50% 50%
  height: 100vh

.logo_25aniv
  max-width: 250px
  width: 90%
  margin: 0 auto
  img
    width: 100%

.logo_mini_g
  max-width: 120px
  width: 90%
  margin: 0 auto
  img
    width: 100%

.sociales_header
  margin-top: -15px

.nav-iconos
  width: 32px
  height: 45px
  position: relative
  margin: 0 auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 6px
    width: 100%
    border-radius: 9px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(1)
      background: #2BB573
      top: 0px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &:nth-child(2)
      background: #33BAB0
      top: 10px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &:nth-child(3)
      background: #94D4F0
      top: 20px
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
  &.abrir_header span:nth-child(1) 
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    top: -3px
  &.abrir_header span:nth-child(2) 
    width: 0%
    opacity: 0
  &.abrir_header span:nth-child(3) 
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    top: 20px

.navegador_movil
  width: 100vw
  background: white
  position: fixed
  z-index: 3
  height: 50px
  top: -13px

.inspired-by
  display: block
  position: relative
  margin-bottom: 15px
  text-align: center
  color: #fff
  font-size: 14px

.cosa
  background-position: 50% 50%



.cosas
  width: 100%
  height: 100vh
  display: inline
  background-position: 50% 50%

.wrapper
  position: relative
  overflow-y: hidden
  width: 100%
  height: 90vh

.card
  display: block
  position: absolute
  top: 75px
  margin: 0 auto
  transform: translateX(-50%)
  width: 100vw
  border: 0px
  border-radius: 15px
  background-color: transparent
  box-shadow: 0 30 50 rgba(0, 0, 0, 0.2)
  will-change: left
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.aniversario_landing
  background-image: url("../img/circulitos_vista_1.svg"), radial-gradient(ellipse at center, rgba(187,250,229,0) 0%,rgba(187,250,229,0.45) 85%)
  background-size: cover
  backgorund-position: center center
  text-align: center

.vercatalogo
  background-image: url("../img/fondo_coleccion_pv.svg"), radial-gradient(ellipse at center, rgba(232,251,254,0) 0%,rgba(198,252,231,0.45) 85%)
  background-size: cover
  backgorund-position: center center


.wrap_aniversario
  width: 300px
  height: 100vh
  margin: 0 auto

.imagen_logo_landig
  width: 150px
  margin: 0 auto

.wrap_vercatalogo
  width: 350px
  height: 100vh
  margin: 0 auto


.lala 
  width: 90%

.carta_ancho
  width: 350px

.carta_ancho_2
  width: 450px

.card--19
  left: 50%
  box-shadow: 0px

.card--solstice,.card--huarache, .card--junior
  left: 150%

.card__header
  text-align: center
  position: relative
  height: auto
  padding: 30px
  border-radius: 15px
  color: #fff

.card__header--mini25
  background: transparent
  background-size: 200%
  background-position: 50% 50%


.card__header--19
  background-image: url('../img/fondo_baby.svg'), linear-gradient(#a5dddd, #F1F2F2)
  background-blend-mode: overlay
  background-size: 700%
  background-position: 50% 50%


.card__header--kids
  background-image: url('../img/fondo_kids.svg'),linear-gradient(#7096EF, #FFFFFF)
  background-blend-mode: overlay
  background-size: 300%
  background-position: 50% 50%


.card__header--pasos
  background-image: linear-gradient(#D3FFDD, #FFFFFF)
  background-blend-mode: overlay
  background-size: 300%
  background-position: 50% 50%


.card__header--solstice
  background-image: linear-gradient(#9CCFE7, #FFFFFF)
  background-blend-mode: overlay
  background-size: 700%
  background-position: 50% 50%

.card__header--huarache
  background-color: #26C9F7
  background-image: linear-gradient(#26C9F7, #DFFC3C)
  background: #26C9F7
  background: linear-gradient(#26C9F7, #DFFC3C)

.card__watermark
  overflow: hidden
  position: absolute
  bottom: 10px
  left: 0
  height: 300px
  width: 100%

.card__watermark::after
  content: ''
  position: relative
  mix-blend-mode: lighten
  font-size: 240px
  font-weight: 700
  width: 100%
  text-transform: uppercase

.card__logo
  width: 90%
  height: auto
  margin-top: 0px

.primera_imagen_landing
  width: 90%
  height: auto
  margin-top: 20%

.card__price
  float: right
  font-size: 16px
  font-weight: 300


.card__title
  margin: 35px 0 20px
  font-size: 15px
  line-height: 1.1em
  text-transform: uppercase
  letter-spacing: 1.5px
  transition: all 1s


.card__subtitle
  display: block
  font-size: 13px
  font-weight: 300


.card__body
  position: relative
  padding: 40px 30px 20px


.card__image
  z-index: 1
  position: relative
  top: -40px
  left: -30px
  width: 125%
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none

.card__wish-list
  display: block
  width: 70%
  margin: 0 auto 15px
  padding: 15px
  border-radius: 20px
  text-align: center
  text-transform: uppercase
  font-size: 14px
  background: linear-gradient(to right, rgba(82,64,254,1) 0%, rgba(196,36,253,1) 100%)
  background-size: 1px 50px
  color: white
  font-family: mikado
  transition: background 1s ease-out
  a 
    color: white
    font-family: mikado
    &:hover
      text-decoration: none
  &:hover
    background: linear-gradient(to right, rgba(82,64,254,1) 50%, rgba(196,36,253,1) 100%)

.acerca_footer
  background: #00abaa


.carousel-indicators li 
  width: 15px
  border-radius: 50%
  height: 15px


.card__category
  display: block
  font-size: 12px
  color: #AEAEAE
  text-transform: uppercase
  text-align: center


.card__will-animate
  will-change: transform


.cards-placeholder
  display: block
  position: relative
  margin-bottom: 0px
  text-align: center

.cards-placeholder__item
  opacity: 0.3
  display: inline-block
  margin-right: 10px
  background-color: #fff
  width: 30px
  height: 5px
  border-radius: 5px
  transition: opacity 0.2s
  will-change: opacity

.cards-placeholder__item--active
  opacity: 1

.logo_mini_landing
  width: 160px

.no_mostrar, .escritorio
  display: none

.mobiles
  display: block

.coleccion_1
  width: 275px
  position: relative
  z-index: 2
  left: -5px

.coleccion_2
  width: 280px
  position: relative
  top: -85px
  margin: 0 auto
  img
    width: 100%

.coleccion_3
  margin: -66px
  width: 350px
  position: relative
  top: -175px
  left: 67px

.contacto_fondo
  background-color: #00c9d6
  padding: 5px 0
  margin: 10px 0 20px

.aviso_privacidad
  a
    font-family: margot

.derechos
  font-family: margot


p 
  margin-top: 0
  margin-bottom: 0

.carousel-inner, .carousel-item
  height: 100vh

.carousel-control-next-icon 
  background-image: url('../img/flecha_derecha.png')


@media only screen and ( min-width: 768px )
  .escritorio
    display: block
  .mobiles
    display: none
  .contenedor_2 .imagen_lading 
    top: 20%
    transform: rotate(-38deg)
    left: 48%
